<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>971865085926-32l72lpa1rpp5v6r5g9ak78em6putqr8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.971865085926-32l72lpa1rpp5v6r5g9ak78em6putqr8</string>
	<key>API_KEY</key>
	<string>AIzaSyDS5DM3b7Dj-PfilMJlHFAlje4cajfkbJY</string>
	<key>GCM_SENDER_ID</key>
	<string>971865085926</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.berkay.SnapchatClone</string>
	<key>PROJECT_ID</key>
	<string>snapchatclone-9d37a</string>
	<key>STORAGE_BUCKET</key>
	<string>snapchatclone-9d37a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:971865085926:ios:e010d61d3ee87f474fa827</string>
</dict>
</plist>